<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
泰勒·斯威夫特：时代巡回演唱会 海报
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
<meta name="keywords" content="泰勒·斯威夫特：时代巡回演唱会,海报,下载"/>
<meta name="description" content="泰勒·斯威夫特：时代巡回演唱会海报"/>

    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
<link rel="stylesheet" href="https://img9.doubanio.com/cuphead/movie-static/subject/photo.34ec6.css">

    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img1.doubanio.com/misc/mixed_static/8dcd5d25bc35a52.css">

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/ded47ae/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>CR777的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=mBCX">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;205601072&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;205601072&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;205601072&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;205601072&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;205601072&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;205601072&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;205601072&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;205601072&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;205601072&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;205601072&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "205601072",
    UPLOAD_AUTH_TOKEN: "205601072:afedb3ed7ba70a04930263a583c84bcbdb300dd1",
    SSE_TOKEN: "0c26029fdfdd09599366bb4e268f31c03cb701fc",
    SSE_TIMESTAMP: "1712896672",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/ded47ae/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/ded47ae/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/ded47ae/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        <h1><span id="title-anchor">泰勒·斯威夫特：时代巡回演唱会</span>
    的海报</h1>
        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
<div class="opt-bar-line clearfix">
    <a name="photo" id="photo"></a>
    <span class="opt-left">
        第40张/共85张
    </span>
    <span class="opt-mid">
        <a href="https://movie.douban.com/photos/photo/2902771479/#title-anchor" title="用方向键←可以向前翻页" id="pre_photo">上一张</a>&nbsp;/
        <a href="https://movie.douban.com/photos/photo/2902771473/#title-anchor" title="用方向键→可以向后翻页" id="next_photo">下一张</a>
    </span>
    <span class="fright">
        &gt;&nbsp;
            <a href="https://movie.douban.com/subject/36538847/photos?type=R">浏览所有海报</a>
    </span>
</div>

<div class="photo-show">
    <div class="photo-wp">
        <a class="mainphoto" href="https://movie.douban.com/photos/photo/2902771473/#title-anchor" title="点击查看下一张">
            
            <img src="https://img9.doubanio.com/view/photo/l/public/p2902771474.jpg" width="457" />
        </a>
        <a class="photo-zoom " target="_blank"
            onclick="moreurl(this, {raw: '2902771474'})"
            href="https://img9.doubanio.com/view/photo/raw/public/p2902771474.jpg"
            rel="nofollow" title="查看原图">查看原图</a>
    </div>
</div>


    <div class="clearfix">
        


  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/e8b3d08f6633abe019772aa5b069b62b00f02cc2/css/sns/new_doulist_button.css" type="text/css">
    <div class="doulist-add-btn">
  
  <a href="javascript:void(0)"
     data-id="2902771474"
     data-cate="1025"
     data-canview="True"
     data-url="https://movie.douban.com/photos/photo/2902771474/"
     data-catename=""
     data-link="https://www.douban.com/people/205601072/doulists/all?add=2902771474&amp;cat=1025"
     data-title="图片"
     data-picture="https://img9.doubanio.com/view/photo/l/public/p2902771474.jpg"
     class="lnk-doulist-add"
     onclick="moreurl(this, { 'from':'doulist-btn-1025-2902771474-205601072'})">
      <i></i>添加到豆列
  </a>
    </div>
  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/0035bb2f83e2cba49ecf634fed57f9ff1bbd0d09/css/ui/dialog.css" type="text/css">
  <script src="https://img1.doubanio.com/f/vendors/3f6bfbf287470b91aacba40f0b19cb2056910f2e/js/core/do/loader.js" type="text/javascript"></script>
  <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js" type="text/javascript"></script>
  <script src="https://img1.doubanio.com/f/vendors/c9ec72017e551cf6dd9ea9a6b7610d579c4dbf91/js/sns/doulist_dialog.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      $(document).delegate('.lnk-doulist-add', 'click', function(e) {
        e.preventDefault();
        var self = $(this);
        if(window._USER_ABNORMAL) {
          show_abnormal && show_abnormal()
          return
        }
        var param = $.extend({'url':''}, $(this).data(), {link: this.href});
        // 兼容jquery 1.8.x
        var newParam = {};
        for (key in param) {
          if (typeof param[key] === 'number') {
            param[key] = self.attr('data-'+key);
          }
          if (param.hasOwnProperty(key)) {
            newParam[$.camelCase(key)] = param[key];
          }
        }
        self.doulistDialog(newParam);
      });
    });
  </script>

    
    <span class="update magnifier">
        <a target="_blank"
            class=""
            onclick="moreurl(this, {raw: '2902771474'})"
            rel="nofollow"
            href="https://img9.doubanio.com/view/photo/raw/public/p2902771474.jpg">
            查看原图
        </a>
            <span class="update">
                    <span class="gact">&gt;
                        <a href="/misc/mp_report?type=M&amp;uid=2902771474"
                            rel="nofollow"
                            class=""
                            title= "这张图片有问题" >
                            这张图片有问题
                        </a>
                    </span>
            </span>
    </span>
    <div class="movie-bar">
        <div class="movie-bar-rec">
                




    <link rel="stylesheet" href="" type="text/css">
    <link rel="stylesheet" href="https://img3.doubanio.com/cuphead/movie-static/mod/share.ee737.css" type="text/css">
    <script src="https://img1.doubanio.com/f/vendors/ebe52cb87d0bf3c74dbadad2bce86532069d1b01/js/lib/textarea-mention.js" type="text/javascript"></script>
    <script src="https://img1.doubanio.com/f/vendors/e0d80c43c73e241e9f218387d74a3e800d31179f/js/lib/mustache.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/0035bb2f83e2cba49ecf634fed57f9ff1bbd0d09/css/ui/dialog.css" type="text/css">
        <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js" type="text/javascript"></script>
    <script src="https://img3.doubanio.com/cuphead/movie-static/mod/share.49b53.js" type="text/javascript"></script>

<div class="rec-sec">
<span class="rec">
    <script id="movie-share" type="text/x-html-snippet">
        
    <form class="movie-share" action="/j/share" method="POST"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
        <div class="clearfix form-bd">
            <div class="input-area">
                <textarea name="text" class="share-text" cols="72" data-mention-api="https://api.douban.com/shuo/in/complete?alt=xd&amp;callback=?"></textarea>
                <input type="hidden" name="target-id" value="2902771474">
                <input type="hidden" name="target-type" value="4">
                <input type="hidden" name="title" value="泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour‎ (2023)的海报">
                <input type="hidden" name="desc" value="">
                <input type="hidden" name="redir" value="https://movie.douban.com/photos/photo/2902771474/vote?ck=mBCX"/>
                <div class="mentioned-highlighter"></div>
            </div>

            <div class="info-area">
                    <img class="media" src="https://img9.doubanio.com/view/photo/l/public/p2902771474.jpg" />
                <strong>泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour‎ (2023)的海报</strong>
                <p></p>
                <p class="error server-error">&nbsp;</p>
            </div>
        </div>
        <div class="form-ft">
            <div class="form-ft-inner">
                




<div class="sync-setting pl">
    <label>分享到</label>
    <label class="share-label share-shuo" for="share-shuo">
        
            <input id="share-shuo" name="share-shuo" value="douban" type="checkbox" checked="checked" />豆瓣广播
    </label>



            <a id="lnk-sync-setting" class="no-visited no-hover" href="https://movie.douban.com/settings/sync" target="_blank"
                class="pl share-label"><img src="https://img3.doubanio.com/cuphead/movie-static/pics/share_g.png"
                alt="去绑定新浪微博" />去绑定新浪微博</a>

</div>

<style type="text/css">
    .sync-setting {
        float: left;
    }
    #lnk-sync-setting,
    #lnk-sync-setting:hover,
    #lnk-sync-setting:visited {
        vertical-align: middle;
        color: #0192b5;
        background: none;
        line-height: 27px;
        margin-right: 8px;
    }
    #lnk-sync-setting img {
        vertical-align: baseline;
        *vertical-align: middle;
        opacity: .5;
        filter: alpha(opacity=50);
        display: inline-block;
        width: 10px;
        height: 10px;
        *display: inline;
        zoom: 1;
        position: relative;
        top: 1px;
        margin-left: 5px;
    }
    #lnk-sync-setting:hover img {
        opacity: .8;
        background: none;
        filter: alpha(opacity=80);
    }
    .share-label {
        margin: 8px;
        cursor: pointer;
        vertical-align: middle;
        *vertical-align: text-bottom;
    }
    .interest-form-ft .share-label input {
        margin-bottom: 0;
    }
    .interest-form-ft {
        text-align: right;
    }
    .interest-form-ft .bn-flat {
        float: none;
    }
    .interest-form-ft .sync-setting {
        float: left;
        line-height: 25px;
    }
</style>


                <span class="avail-num-indicator">140</span>
                <span class="bn-flat">
                    <input type="submit" value="推荐" />
                </span>
            </div>
        </div>
    </form>
    
    <div id="suggest-mention-tmpl" style="display:none;">
        <ul>
            {{#users}}
            <li id="{{uid}}">
              <img src="{{avatar}}">{{{username}}}&nbsp;<span>({{{uid}}})</span>
            </li>
            {{/users}}
        </ul>
    </div>


    </script>

        
        <a href="#" data-share-dialog="#movie-share" data-dialog-title="推荐图片" class="lnk-sharing" 
            share-id="2902771474" 
            data-mode="plain" data-name="泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour‎ (2023)的海报" 
            data-type="" data-desc="" 
            data-href="https://movie.douban.com/photos/photo/2902771474/" data-image="https://img9.doubanio.com/view/photo/l/public/p2902771474.jpg" 
            data-properties="{}" 
            data-redir="https://movie.douban.com/photos/photo/2902771474/vote?ck=mBCX" data-text="" 
            data-apikey="" data-curl="" 
            data-count="10" data-object_kind="1025" 
            data-object_id="2902771474" data-target_type="rec" 
            data-target_action="1" 
            data-action_props="{&#34;photo_type&#34;:&#34;海报&#34;,&#34;photo_url&#34;:&#34;https:\/\/movie.douban.com\/photos\/photo\/2902771474\/&#34;,&#34;subject_title&#34;:&#34;泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour‎ (2023)&#34;,&#34;subject_url&#34;:&#34;https:\/\/movie.douban.com\/subject\/36538847\/&#34;}">推荐</a>
</span>

        <span class="rec-num">2人</span>

</div>





        </div>
        <div class="movie-bar-fav">
                






<span class="fav-num" data-tid="2902771474" data-tkind="1025">
      <a href="#">39人</a>
  喜欢
</span>


  
  <a class="fav-add btn-fav " title="标为喜欢？"
      href="#"
      data-user_id="205601072"
      data-name="泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour‎ (2023)的海报"
      data-type=""
      data-desc=""
      data-href="https://movie.douban.com/photos/photo/2902771474/"
      data-image=""
      data-properties="{}"
      data-text=""
      data-apikey="None"
      data-object_kind="1025"
      data-object_id="2902771474"
      data-target_type="fav"
      data-target_action="0"
      data-action_props="{}"
      data-tid="2902771474"
      data-sanity_key="_0949b"
      data-update_num="update"
      data-tag_align="right"
      data-privacy="0"
      data-tkind="1025">喜欢</a>
      <script type="text/template" id="fav-tag-template">
        
<form action="" method="POST"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
  <div class="tag-editor-bd">
      


<link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/0035bb2f83e2cba49ecf634fed57f9ff1bbd0d09/css/ui/dialog.css" type="text/css">
<link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/a9503974fb285a1d23929e9315d7525c020e70c2/css/fav_rec/tag_editor.css" type="text/css">
<div class="tags-editor">
    <fieldset class="tags-writer">
        <label for="author_tags_clone9286">添加标签，多个标签用空格分隔，帮助你更好地整理内容</label>
        <input id="author_tags" name="author_tags" type="hidden" value="" />
        <input tabindex="3" id="author_tags_clone9286" class="author_tags_clone" name="author_tags_clone" type="text" value="" />
    </fieldset>
</div>
<div class="tags-control">
    <span class="tags-tip error-msg"></span>
    <a href="#" class="tags_more">展开全部<i class="triangle triangle-right"></i></a>
</div>

  </div>
  <div class="tag-editor-ft">
    <span class="bn-flat"><input type="submit" value="保存"></span>
  </div>
</form>

      </script>



  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/0035bb2f83e2cba49ecf634fed57f9ff1bbd0d09/css/ui/dialog.css" type="text/css">
  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/8090b0774166ae4a362e0419a1b0ed180e6177f2/css/fav_rec/tag.css" type="text/css">
  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/a9503974fb285a1d23929e9315d7525c020e70c2/css/fav_rec/tag_editor.css" type="text/css">
  <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js" type="text/javascript"></script>
  <script src="https://img1.doubanio.com/f/vendors/ad4b253db7fea7a413c1845d7a0082aec81cdf15/js/fav_rec/tag_editor.js" type="text/javascript"></script>
  <script src="https://img1.doubanio.com/f/vendors/015f60ff83d0c7476cb3f5f7680dc00c3cd6e0df/js/fav_rec/tag_editor_dialog.js" type="text/javascript"></script>
  <script type="text/javascript">
  var douban_src = '//' + 'www.douban.com';
  var fav_type = 'default';
  var fav_url = '#';
  </script>
  <script src="https://img1.doubanio.com/f/vendors/95dfdf95087546f9723bc7ddd153885b863f0d88/js/fav_rec/fav_btn.js" type="text/javascript"></script>

        </div>
    </div>
</div>

        












<div id="comments" class="">






    

<div class="comment-item" id=159126025 data-cid="159126025" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/theshyyy/"><img width="48" height="48" class="" src="https://img9.doubanio.com/icon/u151329176-4.jpg" alt="lady gaga"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2023-10-15 00:03:53</span>
          <a href="https://www.douban.com/people/theshyyy/" class="  ">lady gaga</a> 
        </div>


        
        <p class="">好好康</p>

        <div class="op-lnks">
        
          <a href="?cid=159126025&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159126025"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u151329176 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159126025" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除lady gaga的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159211136 data-cid="159211136" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/191016816/"><img width="48" height="48" class="" src="https://img9.doubanio.com/icon/u191016816-5.jpg" alt="深爱Briar"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2023-11-24 21:21:44</span>
          <a href="https://www.douban.com/people/191016816/" class="  ">深爱Briar</a> 
        </div>


        
        <p class="">9.6(？)→9.4</p>

        <div class="op-lnks">
        
          <a href="?cid=159211136&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159211136"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u191016816 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159211136" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除深爱Briar的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159221927 data-cid="159221927" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/yishenmanli/"><img width="48" height="48" class="" src="https://img3.doubanio.com/icon/u55665186-3.jpg" alt="熊升树"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2023-11-29 20:55:21</span>
          <a href="https://www.douban.com/people/yishenmanli/" class="  ">熊升树</a>  (I speak because I can)
        </div>


        
        <p class="">就喜欢人高马大壮壮的</p>

        <div class="op-lnks">
        
          <a href="?cid=159221927&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159221927"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u55665186 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159221927" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除熊升树的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159222136 data-cid="159222136" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/169236856/"><img width="48" height="48" class="" src="https://img1.doubanio.com/icon/u169236856-89.jpg" alt="just a way"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2023-11-29 22:30:13</span>
          <a href="https://www.douban.com/people/169236856/" class="  ">just a way</a> 
        </div>


        
        <p class="">终于定档了</p>

        <div class="op-lnks">
        
          <a href="?cid=159222136&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159222136"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u169236856 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159222136" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除just a way的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159222783 data-cid="159222783" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/KOUSHI_JERRY/"><img width="48" height="48" class="" src="https://img2.doubanio.com/icon/u166640261-1.jpg" alt="昊子"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2023-11-30 07:44:04</span>
          <a href="https://www.douban.com/people/KOUSHI_JERRY/" class="  ">昊子</a> 
        </div>


        
        <p class="">已定档(2024.01.05)</p>

        <div class="op-lnks">
        
          <a href="?cid=159222783&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159222783"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u166640261 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159222783" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除昊子的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159292404 data-cid="159292404" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/191016816/"><img width="48" height="48" class="" src="https://img9.doubanio.com/icon/u191016816-5.jpg" alt="深爱Briar"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2024-01-01 08:50:13</span>
          <a href="https://www.douban.com/people/191016816/" class="  ">深爱Briar</a> 
        </div>

            
                
                <div class="reply-quote">
                <span class="short">9.6(？)→9.4</span>
                <span class="all">9.6(？)→9.4</span>
                <a href="#" class="toggle-reply">
                </a><span class="pubdate"><a href="https://www.douban.com/people/191016816/">深爱Briar</a></span></div>

        
        <p class="">→9.3</p>

        <div class="op-lnks">
        
          <a href="?cid=159292404&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159292404"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u191016816 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159292404" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除深爱Briar的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159379703 data-cid="159379703" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/stj5201314/"><img width="48" height="48" class="" src="https://img3.doubanio.com/icon/u190298209-7.jpg" alt="大猪猪宝宝"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2024-02-08 19:51:16</span>
          <a href="https://www.douban.com/people/stj5201314/" class="  ">大猪猪宝宝</a> 
        </div>


        
        <p class="">沙发，使劲爱霉不错哦姐</p>

        <div class="op-lnks">
        
          <a href="?cid=159379703&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159379703"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u190298209 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159379703" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除大猪猪宝宝的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>

    

<div class="comment-item" id=159487067 data-cid="159487067" data-target_id="2902771474" data-target_kind="1025">
    <div class="pic">
        <a href="https://www.douban.com/people/186232813/"><img width="48" height="48" class="" src="https://img9.doubanio.com/icon/u186232813-5.jpg" alt="麦兜"/></a>
    </div>
    <div class="content report-comment">
        <div class="author">
          <span class="">2024-03-25 15:01:17</span>
          <a href="https://www.douban.com/people/186232813/" class="  ">麦兜</a> 
        </div>


        
        <p class="">海报可购：伸手小铺</p>

        <div class="op-lnks">
        
          <a href="?cid=159487067&amp;start=0#add_comment" class="lnk-reply ">回应</a>

        <div class="link-report" data-url="https://movie.douban.com/photos/photo/2902771474/?comment_id=159487067"></div>
        </div>

        <div class="group_banned">
            <span class="gact hidden p_u186232813 p_admin p_intern fright">&gt;
                
    
    <form method="POST" action="https://movie.douban.com/photos/photo/2902771474/remove_comment" class="miniform"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
            <input type="hidden" name="start" value="0" />
            <input type="hidden" name="cid" value="159487067" />
        <input type="submit" class="minisubmit j a_confirm_link" value="删除" title="删除麦兜的留言?" />
    </form>

            </span>
        </div>
    </div>
</div>


  <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/7d8c54c10ffd51769880282d4a41609dc465b796/reports.css" />
  <style>
    .btn-report { float: right; color: #bbb; cursor: pointer; font-size: 13px; }
  </style>
  <script src="https://img1.doubanio.com/f/vendors/bd6325a12f40c34cbf2668aafafb4ccd60deab7e/vendors.js"></script>
  <script src="https://img1.doubanio.com/f/vendors/28c3d936cddecae683603b5cb2e59bf44fdbd630/reports.js"></script>
  <script>
    (function () {
      var ADD_REPORT = function() {
        var roots = document.querySelectorAll(".link-report");
        roots.forEach(function (root) {
          var btn = document.createElement('span');
          btn.className = 'btn-report';
          btn.innerHTML = "投诉";
          btn.addEventListener('click', function () {
            if (window.DOUBAN_VENDORS && window.DOUBAN_VENDORS.openReportModal) {
              window.DOUBAN_VENDORS.openReportModal({
                reportUrl: "" || root.getAttribute('data-url'),
                types: ["comment"]
              })
            }
          });
          root.appendChild(btn);
        })
      }
      ADD_REPORT();
      window.ADD_REPORT = ADD_REPORT;
    })()
  </script>

<div id="last"></div>
    













        
    <h2>
        你的回应
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        <div class="comment-form txd" id="add_comment">

        <form name="comment_form" method="post" action="add_comment"><div style="display:none;"><input type="hidden" name="ck" value="mBCX"/></div>
          <div class="item">
              <textarea name="rv_comment" rows="4" cols="64"></textarea><br/>
          </div>
            <input type="hidden" name="start" value="0"/>
            <div class="item">
                <span class="bn-flat-hot rr"><input type="submit" value="加上去"></span>
              <span>
              <label class="pl share-label share-shuo">
              <input type="checkbox" name="sync_to_mb"/>推荐到广播
              </label>
              </span>
            </div>
        </form></div>


 

 

    
    
    








</div>
<script>
$(function(){
  $('#comments').find('.comment-item').hover(function(){$(this).addClass('over');}, function(){$(this).removeClass('over');});
  $('.reply-quote .toggle-reply').click(function(e) {
    e.preventDefault();
    var el = $(this);
    el.prevAll('span').toggle();
    el.find('span').toggle();
  });
});
</script>




            </div>
            <div class="aside">
                
    <div class="mod">
        





        <div class="slidebar clearfix">
            <span class="btn-prev"><a href="https://movie.douban.com/photos/photo/2902771479/">后退</a></span>
            <div class="slide-wrap">
                <ul class="clearfix">
                            <li id="2902783346">
                                <a href="https://movie.douban.com/photos/photo/2902783346/">
                                    <img src="https://img9.doubanio.com/view/photo/sqxs/public/p2902783346.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902783342">
                                <a href="https://movie.douban.com/photos/photo/2902783342/">
                                    <img src="https://img3.doubanio.com/view/photo/sqxs/public/p2902783342.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902771480">
                                <a href="https://movie.douban.com/photos/photo/2902771480/">
                                    <img src="https://img1.doubanio.com/view/photo/sqxs/public/p2902771480.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902771479">
                                <a href="https://movie.douban.com/photos/photo/2902771479/">
                                    <img src="https://img1.doubanio.com/view/photo/sqxs/public/p2902771479.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902771474" class="current">
                                <a href="https://movie.douban.com/photos/photo/2902771474/">
                                    <img src="https://img9.doubanio.com/view/photo/sqxs/public/p2902771474.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902771473">
                                <a href="https://movie.douban.com/photos/photo/2902771473/">
                                    <img src="https://img3.doubanio.com/view/photo/sqxs/public/p2902771473.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902771464">
                                <a href="https://movie.douban.com/photos/photo/2902771464/">
                                    <img src="https://img9.doubanio.com/view/photo/sqxs/public/p2902771464.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902707684">
                                <a href="https://movie.douban.com/photos/photo/2902707684/">
                                    <img src="https://img9.doubanio.com/view/photo/sqxs/public/p2902707684.jpg" alt="" />
                                </a>
                            </li>
                            <li id="2902707682">
                                <a href="https://movie.douban.com/photos/photo/2902707682/">
                                    <img src="https://img3.doubanio.com/view/photo/sqxs/public/p2902707682.jpg" alt="" />
                                </a>
                            </li>
                </ul>
            </div>
            <span class="btn-next"><a href="https://movie.douban.com/photos/photo/2902771473/">前进</a></span>
        </div>
    </div>
    <div class="mod">
        
    <h2>
        图片信息
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        <ul class="poster-info">
            <li>电影名称：<a href="https://movie.douban.com/subject/36538847/">泰勒·斯威夫特：时代巡回演唱会 Taylor Swift: The Eras Tour</a></li>
            <li>图片类型：正式海报 美国 </li>
            <li class="pl">原图尺寸：2001x3000</li>
            <li class="pl">文件大小：1451.9KB</li>
              <li class="pl">来自：<a href="https://www.douban.com/people/90094213/">自私的巨人</a></li>
              <li class="pl">上传于2024-01-03</li>
        </ul>
        
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/36538847/">去 泰勒·斯威夫特：时代巡回演唱会 的页面</a></p>

    </div>

    <div id="dale_movie_subject_photo_middle_right"></div>

            </div>
            <div class="extra">
                

<div class="report" id="page-report"><a rel="nofollow" href="javascript:void(0)">投诉不良信息</a></div>
<script type="text/javascript" src="https://img1.doubanio.com/f/shire/2748cca69dfeb86c089e9ddb12ad6e84a580cec3/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/shire/23ff197799d608be56df5dfefb4974fa33f4579b/css/report_dialog.css" />

<script>
    Do = (typeof Do === 'undefined')? $ : Do;
    Do(function() {
        $("#page-report").delegate("a", 'click', function(e) {
            var auditUrl = "https://www.douban.com/misc/audit_report?url=";
            var url = "https://movie.douban.com/photos/photo/2902771474/";
            generate_report_dialog({report_url: url});
        })
    });
</script>


            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    
<!-- douban ad begin -->





    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '205601072',
            browserId = 'BSc0fMpmm_M',
            criteria = '3:/photos/photo/2902771474/',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_photo_middle_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/bG90MDZqMy9mL2FkanMvYzhmZjE5MGNhYzNkN2UyMWJjMTI3NzJlYWNkOWVkODZhMmFjMzdhMi9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>







<!-- douban ad end -->
<script src="https://img1.doubanio.com/f/vendors/f5d462478e6d4db01c1940d14a14f5a22613d3d0/js/photo_turn_page.js"></script>
<script type="text/javascript">
    $(function () {
        $('#edi').click(function(){
        $('form .error-tip').hide();
        });
        /**
         * @form 是表单的 jquery 对象
         * @data 是需要验证的字符串
         * @callback 是验证有敏感词时的回调函数
         */
        function checkBannedKeyword(form, data, callback){
            $.post_withck('/j/censor', data, function(ret){
                if(ret.ban == true){
                    callback();
                    return false;
                }else{
                    form.submit();
                }
            }, 'json');
        }
        $('input[id=sub_desc]').click(function(e){
            e.preventDefault();
            $('.error-tip').remove();
            var $textarea = $('form#desc_edit textarea'),
                data = {key: $textarea.val()};
            checkBannedKeyword($('form#desc_edit'), data, function(){
                $('form#desc_edit').append($('<div class="error-tip" style="width:360px;color:#ff3300;">你的图片描述中有被禁止的内容</div>'));
            });
        });


        $(".photo-wp").hover(function(){
            $(".photo-zoom").show();
        },function(){
            $(".photo-zoom").hide();
        })
    });
    var images = new Array();
    function preload() {
        for (i = 0; i < preload.arguments.length; i++) {
            images[i] = new Image();
            images[i].src = preload.arguments[i];
        }
    };
    preload(
        "https://img9.doubanio.com/view/photo/l/public/p2902771474.jpg",
            "https://img3.doubanio.com/view/photo/l/public/p2902771473.jpg",
            "https://img1.doubanio.com/view/photo/l/public/p2902771479.jpg"
    );
    var _INDEX = 39, _TOTAL=85;
</script>
<script src="https://img3.doubanio.com/cuphead/movie-static/common/photo_slide.1b45f.js"></script>

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7bb6fff96f-7t6b5-->

  <script>_SPLITTEST=''</script>
</body>

</html>


